@import "variables.css";
@import "screen/greeting.css";

.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-position: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
header {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--moon);
  font-size: 80px;
  font-family: "Luxurious Roman", cursive;
}

#quote-author,
#quote-content,
#weather {
  color: var(--moon);
}
